<!-- partials/footer.html -->
<footer>
  <div class="section">
    <div class="container-fluid">
      <div class="footer">
        
        <div class="quick-links text-center">
          <ul>
            <li><a href="index.html">ገዛና</a></li>
            <li><a href="blog.html">Services</a></li>
            <!--
            <li><a href="projects.html">Projects</a></li>
            <li><a href="about.html">About Me</a></li>
            -->
          </ul>
        </div>
        <div class="social-links text-center">
          <a href="https://www.linkedin.com/in/iamdivyak/">
            <img src="./img/LinkedIn Circled.png" alt="linkedin">
          </a>
          <a href="https://twitter.com/Imdivyakumari">
            <img src="./img/Twitter.png" alt="twitter">
          </a>
          <a href="https://github.com/Iamdivyak">
            <img src="./img/GitHub.png" alt="github">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom"><span id="year"></span> © Portfolio Pvt. Ltd. All Rights Reserved.</div>
</footer>
